/*****************************************************/
#menu-icon {
	background: #0ca3c6;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	padding: 10px 17px;
	text-transform: uppercase;
	position: relative;
}

#menu-icon:after {
	float: right;
	content: "\f107";
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	display: inline;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	margin-top: 0;
	text-decoration: inherit;
	vertical-align: baseline;
	width: auto;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	width: 1.25em;
	font-size: 26px;
	color: #fff;
	vertical-align: middle;
}

#menu-icon.active:after {
	content: "\f106";
}